
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4>
                    <strong>Site Haritası</strong>
                </h4>
                <hr />
                <p>

                    <a href="/Home/About">Hakkımızda</a><br />

                    <a href="/Home/MostLiked">En Beğenilenler</a><br />

                    <a href="/Home/Index">Son Yazılanlar</a><br />


                </p>

                <p>Copyright &copy; Faruk Fuat Özer 2019</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>
                    <strong>  Sit amet, consectetur.</strong>

                </h4>
                <hr />
                <p>Copyright &copy; Faruk Fuat Özer 2019</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>
                    <strong> E- Bülten Üyeliği</strong>

                </h4>
                <hr />
                <div class="col-md-10 col-md-offset-1">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Emailiniz" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span>Gönder
                            </button>
                        </span>
                    </div>
                </div>


            </div>
        </div>
    </footer>
</div>
<!-- /.container -->