@using MyEvernote.Entities

@model List<Comment>


<div class="media">
    <div class="media-left media-middle">
        <div class="media-object">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
    </div>

    <div class="media-body">
        <div>
        <span> 8Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.     </span>
        <span class="pull-right">
            <button type="button" class="btn btn-warning btn-xs">
                <span class="glyphicon glyphicon-edit"></span>
            </button>

            <button type="button" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </span>
        <br />

        <small>
            <span class="glyphicon glyphicon-time"></span>12.12.2223
            <span class="glyphicon glyphicon-user"></span>fuat

        </small>
            </div>
    </div>


</div>