
@{
    ViewBag.Title = "RegisterOk";
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/login-register.css" rel="stylesheet" />

    <div class="container">

        <div class="wrapper">


            <section class="form-signin">

                <h3 class="form-signin-heading">Hesabınıza gelen mail adresinizi doğrulayın.</h3>
                <hr class="colorgraph"><br>

                                      

            </section>
        </div>



    </div>

<script>
    $(function () {
        $("footer").hide();
        setTimeout(function () {
            window.location = "/Home/Index";
        }, 2000);

    });</script>
